{% extends 'blogBase.html.twig' %}
{% block titulo %}Noticias{% endblock %}

{% block main %}
    <h2>Noticias</h2>
 {% for noticia in noticias %}
<li class='bloqueNoticia'>
   <img src='{{ asset('images/thumbnail-' ~ noticia.id ~'.png') }}' />
   <h3><a href="{{ path('verNoticia', {'id': noticia.id}) }}">{{ noticia.entradilla }}</a></h3>
   <p> {{ noticia.cuerpo }} </p>
   <p><a href="{{ path('verNoticia', {'id': noticia.id}) }}">Leer más</a></p>
   <p>Publicada en: {{ noticia.fecha|date("d/m/Y") }}.</p>
   </li>
   {% else %}
            <li>No hay apuestas</li>
    {% endfor %}
{% endblock %} 



